* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  // font-family: 'source-sans-pro', sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.25rem;
  overflow-x: hidden;
}

.content-wrapper {
  flex: 1 0 auto;
  width: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.lagoon-wrapper {
  background: rgb(250, 250, 252);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;

  &.hover-state {
    position: relative;
    transition: all 0.2s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 1px;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
    }

    &::after {
      left: 0;
      background-color: #497ffa;
    }

    &:hover {
      &::before,
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

mark {
  color: #000;
}

.bulk-label a:link,
.bulk-label a:visited,
.bulk-label a:hover,
.bulk-label a:active {
  color: #fff;
}

p {
  margin: 0 0 1.25rem;
}

p a {
  text-decoration: none;
  transition: background 0.3s ease-out;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  margin: 0 0 38px;
}

h3 {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin: 0 0 36px;
}

h4 {
  font-size: 25px;
  line-height: 38px;
  font-weight: normal;
  margin: 4px 0 0;
}

ul {
  list-style: none;
  margin: 0 0 1.25rem;
  padding-left: 0;

  li {
    background-size: 8px;
    margin-bottom: 1.25rem;
    padding-left: 20px;

    a {
      text-decoration: none;
    }
  }
}

ol {
  margin: 0 0 1.25rem;
  padding-left: 20px;

  li {
    margin-bottom: 1.25rem;

    a {
      text-decoration: none;
    }
  }
}

.field {
  line-height: 25px;

  a {
    color: #497ffa;
  }
}

button,
input,
optgroup,
select,
textarea {
  // font-family: 'source-sans-pro', sans-serif;
  line-height: 1.25rem;
}

button {
  &.hover-state {
    all: unset;
    display: inline-block;
    margin-right: 1rem;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 1px;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
    }

    &::after {
      left: 0;
      background-color: #497ffa;
    }

    &:hover {
      &::before,
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

label {
  // font-family: 'source-code-pro', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.field-wrapper {
  display: flex;
  margin-bottom: 18px;

  @media (min-width: 600px) {
    margin-bottom: 30px;
  }

  &::before {
    @media (min-width: 600px) {
      margin-top: 8px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 21px;
      border-right: 1px solid #ebecf0;
      content: '';
      display: flex;
      height: 60px;
      padding-right: 28px;
      width: 25px;
    }
  }

  & > div {
    @media (min-width: 600px) {
      margin-top: 8px;
    }
  }
}

main {
  margin: 0 !important;
  padding: 62px !important;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ebecf0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  max-width: 90vw;

  @media (min-width: 960px) {
    max-width: 60vw;
  }

  @media (min-width: 1400px) {
    max-width: 40vw;
  }
}

#nprogress .bar {
  background-color: #497ffa !important;
  position: fixed !important;
  top: 55px !important;
  z-index: 9999 !important;
  width: 100% !important;
  height: 5px !important;
}
