.idea/

#dependencies
node_modules

#artifacts
.next
build

#storybook
storybook-static
build-storybook.log

#environment
.env
.python-version
docker-compose.override.yml

# ts linter
*.tsbuildinfo

# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
