.idea/

#dependencies
node_modules

#artifacts
.next
build

#storybook
storybook-static
build-storybook.log

#environment
.env
.python-version
docker-compose.override.yml
cypress_cache
lagoon-core.*
cypress/screenshots

# ts linter
*.tsbuildinfo