version: '3.2'

x-lagoon-project:
  # Lagoon project name (leave `&lagoon-project` when you edit this)
  &lagoon-project lagoon-ui

x-environment: &default-environment
  LAGOON_PROJECT: *lagoon-project
  # Route that should be used locally, if you are using pygmy, this route *must* end with .docker.amazee.io
  LAGOON_ROUTE: &default-url http://lagoon-ui.docker.amazee.io
  # Uncomment if you like to have the system behave like in production
  LAGOON_ENVIRONMENT_TYPE: production
  GRAPHQL_API: "${GRAPHQL_API:-https://api.main.lagoon-core.test6.amazee.io/graphql}"
  # KEYCLOAK_API: "${KEYCLOAK_API:-http://localhost:8088/auth}"
  KEYCLOAK_API: "${KEYCLOAK_API:-https://keycloak.main.lagoon-core.test6.amazee.io/auth}"

services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile
    labels:
      lagoon.type: node
    command: yarn run start
    volumes:
      - ./src:/app/src
      - ./.env.defaults:/app/.env.defaults
      - ./.env.schema:/app/.env.schema
      - ./package.json:/app/package.json
    ports:
      - '8888:3000'
      - '3003:3003'
    networks:
      - amazeeio-network
      - default
    environment:
      <<: *default-environment

networks:
  amazeeio-network:
    # external: true
