name: Publish lagoon-core-ui image

on:
  push:
    tags:
      - 'lagoon-core-v*.*.*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout Branch or Tag
        uses: actions/checkout@v2
        if: ${{ github.event_name != 'pull_request' }}
        with:
          fetch-depth: "0"
      -
        name: Set version for tag build
        if: "startsWith(github.ref, 'refs/tags/')"
        id: version_tag_build
        run: |
          LAGOON_VERSION=$(echo $(git describe --abbrev=0 --tags --match 'lagoon-core-v*'))
          UI_VERSION=$(echo $(git describe --abbrev=0 --tags --match 'v*'))
          BUILD=$(date +%FT%T%z)
          echo "LAGOON_VERSION=$LAGOON_VERSION" >> $GITHUB_ENV
          echo "UI_VERSION=$UI_VERSION" >> $GITHUB_ENV
          echo "BUILD=$BUILD" >> $GITHUB_ENV
          echo "lagoon-ui $UI_VERSION (built: $BUILD) tagged as $LAGOON_VERSION"
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ github.repository_owner }}/ui
            ghcr.io/${{ github.repository_owner }}/ui
          tags: |
            # tag event
            type=ref,event=tag
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          # platforms: linux/amd64,linux/arm64
          platforms: linux/amd64
          build-args: |
            "LAGOON_VERSION=${{ env.LAGOON_VERSION }}"
            "UI_VERSION=${{ env.UI_VERSION }}"
            "BUILD=${{ env.BUILD }}"
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
